{% extends 'base.html' %}
{% block title %} Market Page {% endblock %}
{% block content %}
<div class="row m-3">
    <div class="col-8">
        <h2 class="text-center">Available items on the Market</h2>
        <p class="text-center">Click on one of the items to start buying</p>
        <br>
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Barcode</th>
                <th scope="col">Price</th>
                <th scope="col">Option</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items: %}
            {% include 'includes/items_modals.html' %}
            <tr>
                <th>{{ item.id }}</th>
                <td>{{ item.name }}</td>
                <td>{{ item.barcode }}</td>
                <td>${{ item.price }}</td>
                <td>
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal-{{ item.id }}">More info</button>
                    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                            data-bs-target="#ModalPurchaseConfirm-{{ item.id }}">Purchase this Item</button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <h2 class="text-center">Owned Items</h2>
        <p class="text-center">Click on sell item to put an item back on the Market</p>
        <br>
        <div class="row">
            {% for owned_item in owned_items: %}
            {% include 'includes/owned_items_modals.html' %}
                <div class="col-md-6">
                    <div class="card text-center bg-dark" style="margin-bottom: 5px">
                        <div class="card-body">
                            <h5 class="card-title">{{ owned_item.name }}</h5>
                            <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px"
                                    data-bs-toggle="modal" data-bs-target="#ModalSellingConfirm-{{ owned_item.id }}">Sell this Item</button>
                            <p class="card-text"><strong>This item costs ${{ owned_item.price }}</strong></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
